<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Linkedin" href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
				<li><a title="Medium" href="{{ site.medium }}" target="_blank">Medium</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Twitter" href="{{ "https://www.dropbox.com/sh/glw5qmo29zj6rfj/AACk_xjucicRP3mFlTWFMZFza?dl=0" }}" target="_blank">Resume</a></li>
			</ul>
		</section>
	</div>
</footer>
